// SPDX-License-Identifier: GPL-2.0-only
/*
 * Bela Gem Audio Cape - PocketBeagle 2 (AM6254)
 *
 * Finalized bring-up values from Bela Gem Multi references:
 * - Audio control I2C on main_i2c1 (AUD_SCL/AUD_SDA path)
 * - McASP0 serializers: AXR0=RX, AXR3=TX(AIC), AXR2=TX(ES9080Q)
 * - 16-slot, 32-bit TDM framing
 *
 * Note on reset:
 * GemMulti reset net is routed to board RESET# domain (RESETN), not a
 * dedicated software GPIO line for ES9080Q. Therefore reset-gpios is not
 * declared here.
 */
/dts-v1/;
/plugin/;

#include <dt-bindings/pinctrl/k3.h>

/* Validation MCLK reference for machine driver sysclk setup */
&{/} {
	bela_mclk: bela-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24576000>;
	};
};

&main_pmx0 {
	bela_gem_audio_pins: bela-gem-audio-pins {
		pinctrl-single,pins = <
			/* AXR0  RX  <- AIC capture */
			AM62X_IOPAD(0x01A0, PIN_INPUT  | MUX_MODE0)
			/* AFSX FS  <- AIC master */
			AM62X_IOPAD(0x01A8, PIN_INPUT  | MUX_MODE0)
			/* AFSR FS  <- optional separate RX FS */
			AM62X_IOPAD(0x01AC, PIN_INPUT  | MUX_MODE0)
			/* ACLKR BCLK <- AIC master */
			AM62X_IOPAD(0x01B0, PIN_INPUT  | MUX_MODE0)
			/* AXR3 TX -> AIC playback (slots 0-1) */
			AM62X_IOPAD(0x0194, PIN_OUTPUT | MUX_MODE0)
			/* AXR2 TX -> ES9080Q playback (slots 2-9) */
			AM62X_IOPAD(0x0198, PIN_OUTPUT | MUX_MODE0)
		>;
	};

	/* PB2 I2C1 on audio-control pins (P1.33/P1.36A) */
	bela_gem_i2c1_pins: bela-gem-i2c1-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01EC, PIN_INPUT | PULL_UP | MUX_MODE0) /* I2C1_SDA */
			AM62X_IOPAD(0x01E8, PIN_INPUT | PULL_UP | MUX_MODE0) /* I2C1_SCL */
		>;
	};
};

&main_i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&bela_gem_i2c1_pins>;

	tlv320aic3106: codec@18 {
		compatible = "ti,tlv320aic3106";
		reg = <0x18>;
		#sound-dai-cells = <0>;
	};

	es9080q: dac@48 {
		compatible = "ess,es9080q";
		reg = <0x48>;
		#sound-dai-cells = <0>;
		write-only-addr = <0x4c>;
	};
};

&mcasp0 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&bela_gem_audio_pins>;
	status = "okay";

	op-mode = <0>;
	tdm-slots = <16>;
	num-serializer = <16>;
	serial-dir = <
		2 0 1 1
		0 0 0 0
		0 0 0 0
		0 0 0 0
	>;

	tx-num-evt = <32>;
	rx-num-evt = <32>;
};

&{/} {
	sound_gem_multi: sound {
		compatible = "bela,audio-cape";
		model = "Bela Gem Multi PB2";

		cpu-dai = <&mcasp0>;
		aic3104-codec = <&tlv320aic3106>;
		es9080q-codec = <&es9080q>;

		clocks = <&bela_mclk>;
		clock-names = "mclk";

		audio-routing =
			"Headphone Jack",   "HPLOUT",
			"Headphone Jack",   "HPROUT",
			"AIC3104 Line Out", "LLOUT",
			"AIC3104 Line Out", "RLOUT",
			"LINE1L",           "Line In",
			"LINE1R",           "Line In",
			"DAC Out 1",        "OUT1",
			"DAC Out 2",        "OUT2",
			"DAC Out 3",        "OUT3",
			"DAC Out 4",        "OUT4",
			"DAC Out 5",        "OUT5",
			"DAC Out 6",        "OUT6",
			"DAC Out 7",        "OUT7",
			"DAC Out 8",        "OUT8";
	};
};
